[submodule "Ducky/vendor/spdlog"]
	path = Ducky/vendor/spdlog
	url = https://github.com/gabime/spdlog

[submodule "Ducky/vendor/GLFW"]
	path = Ducky/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Ducky/vendor/imgui"]
	path = Ducky/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Ducky/vendor/glm"]
	path = Ducky/vendor/glm
	url = https://github.com/g-truc/glm
