[submodule "Ducky/vendor/spdlog"]
	path = Ducky/vendor/spdlog
	url = https://github.com/gabime/spdlog

[submodule "Ducky/vendor/GLFW"]
	path = Ducky/vendor/GLFW
	url = https://github.com/TheCherno/glfw
